<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkxim.timon.labs"
    android:versionCode="1000"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.usb.host"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LabDemoActivity"
            android:label="@string/app_name" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MyXMLLayoutActivity" >
        </activity>
        <activity android:name="MyInputEditors" >
        </activity>
        <activity android:name=".brushstyles.FingerPaint" >
        </activity>
        <activity android:name=".brushstyles.PhotoGrid" >
        </activity>
        <activity
            android:name=".FontTestActivity"
            android:label="@string/title_activity_font_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawableBreakActivity"></activity>
        <!-- Animation's activities -->
        <activity android:name="AnimationMainActivity"
            android:label="@string/app_name">
            <intent-filter>
            </intent-filter>
        </activity>

        <activity android:name="com.gkxim.timon.animation.CrossfadeActivity"
            android:label="@string/title_crossfade"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName=".AnimationMainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationMainActivity" />
        </activity>

        <activity android:name="com.gkxim.timon.animation.CardFlipActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".AnimationMainActivity"
            android:theme="@style/DarkTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationMainActivity" />
        </activity>

        <activity android:name="com.gkxim.timon.animation.ScreenSlideActivity"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".AnimationMainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationMainActivity" />
        </activity>

        <activity android:name="com.gkxim.timon.animation.ZoomActivity"
            android:label="@string/title_zoom"
            android:parentActivityName=".AnimationMainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationMainActivity" />
        </activity>

        <activity android:name="com.gkxim.timon.animation.LayoutChangesActivity"
            android:label="@string/title_layout_changes"
            android:parentActivityName=".AnimationMainActivity">>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnimationMainActivity" />
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="ShareButtonActivity"></activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="ShareBarActivity"></activity>
        <activity android:name=".androider.USBConnectActivity"></activity>
        <activity android:name="AndroiderSamplesActivity"></activity>
        <activity android:name=".androider.BlurBitmapActivity"></activity>
        <activity android:name=".androider.ConvolutionBlurBitmapActivity"></activity>
		<activity
				android:name=".FullWebView"
				android:label="FullLinkWebView"/>
		<activity
				android:name=".androider.AnimationViewActivity"
				android:label="AnimationView By Touch Path"/>
	</application>

</manifest>